{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <h1 class="heading">Personal and Consumption Details</h1>
    {% if sheet_names %}
    <div class="btn-group w-100 customer-options" role="group" aria-label="Basic outlined example">
        {% for name in sheet_names %}
        <button type="button" id="cust-btn-{{ forloop.counter }}" class="btn btn-outline-primary">{{ name }}</button>
        {% endfor %}
    </div>
    <!----------------Dropdown buttons to find highest customer----------------->
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle highest-dropdown" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
            Find Highest...
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <li><button id="high-day-btn" class="dropdown-item" type="button">Day Rate</button></li>
            <li><button id="high-night-btn" class="dropdown-item" type="button">Night Rate</button></li>
            <li><button id="high-energy-cost-btn" class="dropdown-item" type="button">Energy Consuption</button></li>
        </ul>
    </div>
    <!-----------------Customer 1--------------------->
    <div id="sheet-one" class="table-container">
        <h2 class="customer-number">{{ sheet_name1 }}</h2>
        <div class="table">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        {% for head in headings1 %}
                            {% if head is  None %}
                            <th scope="col"></th>
                            {% else %}
                            <th scope="col">{{ head }}</th>
                            {% endif %}
                        {% endfor %}
                        <th scope="col">Total energy cost</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {% for data in first_row1 %}
                            {% if data is None %}
                            <td></td>
                            {% else %}
                            <td>{{ data }}</td>
                            {% endif %}
                        {% endfor %}
                        <td>{{ total_energy_cost1 }}</td>
                    </tr>
                    <tr>
                        {% for data in second_row1 %}
                            {% if data is None %}
                            <td></td>
                            {% else %}
                            <td>{{ data }}</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-----------------Customer 2--------------------->
    <div id="sheet-two" class="table-container">
        <h2 class="customer-number">{{ sheet_name2 }}</h2>
        <div class="table">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        {% for head in headings2 %}
                            {% if head is  None %}
                            <th scope="col"></th>
                            {% else %}
                            <th scope="col">{{ head }}</th>
                            {% endif %}
                        {% endfor %}
                        <th scope="col">Total energy cost</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {% for data in first_row2 %}
                            {% if data is None %}
                            <td></td>
                            {% else %}
                            <td>{{ data }}</td>
                            {% endif %}
                        {% endfor %}
                        <td>{{ total_energy_cost2 }}</td>
                    </tr>
                    <tr>
                        {% for data in second_row2 %}
                            {% if data is None %}
                            <td></td>
                            {% else %}
                            <td>{{ data }}</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-----------------Customer 3--------------------->
    <div id="sheet-three" class="table-container">
        <h2 class="customer-number">{{ sheet_name3 }}</h2>
        <div class="table">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        {% for head in headings3 %}
                            {% if head is  None %}
                            <th scope="col"></th>
                            {% else %}
                            <th scope="col">{{ head }}</th>
                            {% endif %}
                        {% endfor %}
                        <th scope="col">Total energy cost</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {% for data in first_row3 %}
                            {% if data is None %}
                            <td></td>
                            {% else %}
                            <td>{{ data }}</td>
                            {% endif %}
                        {% endfor %}
                        <td>{{ total_energy_cost3 }}</td>
                    </tr>
                    <tr>
                        {% for data in second_row3 %}
                            {% if data is None %}
                            <td></td>
                            {% else %}
                            <td>{{ data }}</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-----------------Customer 4--------------------->
    <div id="sheet-four" class="table-container">
        <h2 class="customer-number">{{ sheet_name4 }}</h2>
        <div class="table">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        {% for head in headings4 %}
                            {% if head is  None %}
                            <th scope="col"></th>
                            {% else %}
                            <th scope="col">{{ head }}</th>
                            {% endif %}
                        {% endfor %}
                        <th scope="col">Total energy cost</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {% for data in first_row4 %}
                            {% if data is None %}
                            <td></td>
                            {% else %}
                            <td>{{ data }}</td>
                            {% endif %}
                        {% endfor %}
                        <td>{{ total_energy_cost4 }}</td>
                    </tr>
                    <tr>
                        {% for data in second_row4 %}
                            {% if data is None %}
                            <td></td>
                            {% else %}
                            <td>{{ data }}</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}
    <!-------------------Highest day rate--------------------->
    <div id="highest-day-rate" class="table-container">
        <h2 class="customer-number">Highest Day Rate: {{ highest_day_customer }}</h2>
        <div class="table">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        {% for head in highest_day_headings %}
                            {% if head is  None %}
                            <th scope="col"></th>
                            {% else %}
                            <th scope="col">{{ head }}</th>
                            {% endif %}
                        {% endfor %}
                        <th scope="col">Total energy cost</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {% for data in highest_day_row1 %}
                            {% if data is None %}
                            <td></td>
                            {% else %}
                            <td>{{ data }}</td>
                            {% endif %}
                        {% endfor %}
                        <td>{{ highest_day_energy }}</td>
                    </tr>
                    <tr>
                        {% for data in highest_day_row2 %}
                            {% if data is None %}
                            <td></td>
                            {% else %}
                            <td>{{ data }}</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-------------------Highest day rate--------------------->
    <div id="highest-night-rate" class="table-container">
        <h2 class="customer-number">Highest Night Rate: {{ highest_night_customer }}</h2>
        <div class="table">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        {% for head in highest_night_headings %}
                            {% if head is  None %}
                            <th scope="col"></th>
                            {% else %}
                            <th scope="col">{{ head }}</th>
                            {% endif %}
                        {% endfor %}
                        <th scope="col">Total energy cost</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {% for data in highest_night_row1 %}
                            {% if data is None %}
                            <td></td>
                            {% else %}
                            <td>{{ data }}</td>
                            {% endif %}
                        {% endfor %}
                        <td>{{ highest_night_energy }}</td>
                    </tr>
                    <tr>
                        {% for data in highest_night_row2 %}
                            {% if data is None %}
                            <td></td>
                            {% else %}
                            <td>{{ data }}</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-------------------Highest energy cost--------------------->
    <div id="highest-energy-cost" class="table-container">
        <h2 class="customer-number">Highest Energy Cost: {{ highest_energy_customer }}</h2>
        <div class="table">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        {% for head in highest_energy_headings %}
                            {% if head is  None %}
                            <th scope="col"></th>
                            {% else %}
                            <th scope="col">{{ head }}</th>
                            {% endif %}
                        {% endfor %}
                        <th scope="col">Total energy cost</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {% for data in highest_energy_row1 %}
                            {% if data is None %}
                            <td></td>
                            {% else %}
                            <td>{{ data }}</td>
                            {% endif %}
                        {% endfor %}
                        <td>{{ highest_energy }}</td>
                    </tr>
                    <tr>
                        {% for data in highest_energy_row2 %}
                            {% if data is None %}
                            <td></td>
                            {% else %}
                            <td>{{ data }}</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}