.logo {
    width: 5rem;
    height: auto;
}

.heading {
    padding-top: 10rem;
    text-align: center;
}

.table {
    padding: 2rem;
}

#sheet-one {
    display: block;
}

.customer-options {
    padding: 2rem 2rem 0;
}

.table-container {
    display: none;
}

.highest-dropdown {
    float: right;
    margin: 2rem;
    font-size: 1.2rem;
}

.customer-number {
    padding: 2rem 2rem 0;
}